@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
  }
  body{
    overflow-x: hidden;
    background-color: #191B1F;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}